
<a routerLink="/index">Atras</a>
<div class="container">
<table class="table table-bordered">
      <thead>
        <tr>
         
            <th>Title</th>
            <th>Authors</th>
            <th>Editorial</th>
            <th> Short_description
          </th>
        </tr>
      </thead>
      <tbody>
            <td>{{title}}</td>
           <td>{{author}}</td>
           <td>{{editorial}}</td>
           <td>{{short_description}}</td>
           
        
      
      </tbody>
    </table>
</div>